.card
  h5.partOfSpeech.card-header noun
  .card-body
    .definitions
      h5.definition.card-title "Hello!" or an equivalent greeting.
      p.example.card-text.ms-3 With supporting text below as a natural lead-in to additional content.
      ul.list-group
        li.list-group-item.d-flex.justify-content-between.align-items-start
          .ms-2.me-auto
            .fw-bold.synonyms synonyms
            p.ms-3 greeting
        li.list-group-item.d-flex.justify-content-between.align-items-start
          .ms-2.me-auto
            .fw-bold.antonyms antonyms
            p.ms-3 goodbye
