template#word_template
    section.col-12.d-flex.justify-content-between.border-bottom
        #word_info
            h1#word 
            p#subInfo.text-orange 
        button#audio_btn.btn.fs-3.outline-0.border-0(onclick="playAudioBtn(event)")
            i.fa-solid.fa-volume-high.text-orange
